@import './customVariables.scss';
.container-fluid {
    padding: 0;
}

#mobile-navbar {
    .navbar {
        z-index: 100;
        overflow: hidden;
        background-color: $color-black;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: end;
        height: 3.5em;
    }
    .navbar a {
        float: right;
        text-align: end;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 5px 10px 5px;
        text-decoration: none;
        font-size: $mobile-font-size-default;
        flex: auto;
        min-width: 3.5em;
        border-left-color: white;
        border-left: 3px;
        border-left-style: solid;
    }
    .navbar a:hover {
        background: white;
        color: black;
    }
    .navbar a.active {
        background-color: $color-main;
        color: $color-white;
    }
}